<template>
    <div v-if="showModal"
        class="p-4 text-white bg-[rgba(255,255,255,0.4)] h-full w-full fixed top-0 left-0 z-10 flex justify-center">
        <div class=" absolute top-0 right-0 text-3xl m-4 cursor-pointer" @click="closeModal()">
            X
        </div>
        <div class=" w-[520px] rounded-2xl flex flex-col justify-center items-center gap-4"
            :style="getBgColor(couponData.brandColor)">
            <img :src="couponData.image" class=" w-[60%]" />
            <div class=" font-semibold text-4xl mt-6 mb-10">{{ couponData.title }}</div>
            <div class=" flex justify-between w-[80%] items-center">
                <div>
                    <div>{{ couponData.description }}</div>
                    <div>{{ couponData.date }}</div>
                </div>
                <div v-if="!couponData.redeemed" @click="handleRedeemNow(couponData.id)"
                    class=" border-2 border-white rounded-2xl py-2 px-4 cursor-pointer hover:-translate-y-1 transition-transform">
                    Redeem Now
                </div>
                <div v-else class=" bg-[rgba(255,255,255,0.4)] py-2 px-4 font-semibold cursor-pointer"
                    @click="copyToClipboard(couponData.redeemCode)">
                    <span v-if="beingCopied == true" class=" font-thin">Code Copied!</span>
                    <span v-else>{{ couponData.redeemCode }} </span>
                </div>
            </div>
            <div class=" w-[80%] text-lg mt-4">{{ couponData.desc }}</div>
            <div class=" w-[80%] h-[50px]">
                <CustomBarcode :barcode-data="couponData.title + couponData.description + couponData.date" />
            </div>
        </div>
    </div>
    <div v-else></div>
</template>

<script setup>
import { ref } from "vue";
import CustomBarcode from './CustomBarcode.vue';
import copy from "copy-to-clipboard"

const props = defineProps({
    showModal: Boolean,
    couponData: {}
})

const beingCopied = ref(false)

const emits = defineEmits(["closeModal", "redeemCoupon"]);

const handleRedeemNow = (couponId) => {
    emits("redeemCoupon", couponId)
}

const closeModal = () => {
    emits("closeModal")
}

const copyToClipboard = (redeemCode) => {
    try {
        copy(redeemCode)
        beingCopied.value = true;
        console.log('Text copied to clipboard:');
        setTimeout(() => { beingCopied.value = false; }, 2000);
    } catch (err) {
        console.log('Text not copied to clipboard:');ß
    }

}

const getBgColor = (brandColor) => {
    return {
        "background-color": brandColor
    }
}

</script>

<style scoped>
/* Add custom styles here if needed */
.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.card {
    z-index: 10;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-4px);
}

.img-dash {
    outline: 4px dashed white;
    outline-offset: -4px;
}
</style>
<!--  -->