<template>
    <div class="flex flex-wrap justify-center">
        <div v-for="(coupon,index) in coupons" :key="coupon.id" class="p-4">
            <div
                @click="handleCouponClick(index)"
                class="rounded-xl w-[200px] h-[310px] shadow-lg bg-white card animate__animated animate__fadeInUp overflow-clip cursor-pointer">
                <img :src="coupon.image" :alt="coupon.title" :ref="coupon.id" class="w-full h-[200px] object-cover">
                <div class="border-b-[5px] border-b-white border-dotted relative top-[-3px]"></div>
                <div class=" py-2 px-4 flex flex-col justify-between h-fit">

                    <div class="text-lg font-bold ">{{ coupon.title }}</div>
                    <div class=" text-md font-semibold text-gray-500">{{ coupon.description }}</div>
                    <div :style="dateStyle(coupon.brandColor)" class=" text-md font-semibold">{{ coupon.date }}</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>


const props = defineProps({
    coupons: []
});

const emit = defineEmits(['couponClick']);

const handleCouponClick = (couponId) => {
    emit('couponClick', couponId);
}

const dateStyle = (brandColor) => {
    return {
        color: brandColor
    }
}

</script>

<style scoped>
/* Add custom styles here if needed */
.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.card {
    z-index: 10;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-4px);
}

.img-dash {
    outline: 4px dashed white;
    outline-offset: -4px;
}
</style>
<!--  -->