<template>
    <div class=" h-fit flex overflow-hidden">

        <div v-for="bar in barcodeBinary" class=" h-fit">
            <div v-if="bar == '1'" class=" bg-white h-[50px] w-[1px]">
            </div>
            <div v-else class=" h-[50px] w-[2px]"></div>
        </div>
    </div>
</template>

<script setup>
import { ref, onMounted } from "vue";

const props = defineProps({ barcodeData: String })

const barcodeBinary = ref('')
onMounted(() => {
    let binaryString = '';
    let str = props.barcodeData
    for (let i = 0; i < str.length; i++) {
        const charCode = str.charCodeAt(i);
        const binaryCode = charCode.toString(2);
        binaryString += binaryCode.padStart(8, '0'); // Ensure 8-bit representation for each character
    }
    barcodeBinary.value = binaryString;
})

</script>