<template>
    <main class=" py-24">
        <CouponModal :showModal="showModal" :couponData="coupons[currentCouponIndex]"
            @redeemCoupon="(couponId) => redeemCoupon(couponId)"
            @closeModal="() => showModal = false" />

        <div class="  h-screen z-0">
            <CouponWallet :coupons="coupons"
                @couponClick="(couponId) => { currentCouponIndex = couponId; showModal = true }" />

            <div v-for="(star, index) in stars" :key="index" class="star" :style="starStyle()">
                .
            </div>

        </div>
    </main>
</template>

<script setup>
import CouponWallet from "@/components/CouponWallet";

import { ref, reactive } from 'vue';

const stars = reactive([]);
const currentCouponIndex = ref(0);
const showModal = ref(false);

const starStyle = () => {
    const top = `${Math.random() * 100}%`;
    const left = `${Math.random() * 100}%`;
    const animationDuration = `${Math.random() * 3 + 1}s`;
    const animationDelay = `${Math.random() * 2}s`;

    return {
        top,
        left,
        animationDuration,
        animationDelay
    };
};

const redeemCoupon = (couponId) => {
    const couponIndex = coupons.value.findIndex( (coupon) => coupon.id === couponId);
    coupons.value[couponIndex].redeemed = true;
}

const starCount = 100;
for (let i = 0; i < starCount; i++) {
    stars.push({});
}


const coupons = ref([
    {
        id: 1,
        title: "10% off",
        description: "Adidas Store",
        desc: "Get 10% off on $100 purchase. When you go to store, you can show this code and get a discount",
        image: "/images/adidas-logo.jpg",
        brandColor: "#000",
        date: "Jul 1 - Jul 18",
        redeemed: false,
        redeemCode: "7T9X2A4Y"
    },
    {
        id: 2,
        title: "$2 off",
        description: "Starbucks Coffee",
        desc: "Get $2 off on every purchase. When you go to store, you can show this code and get a discount",
        image: "/images/starbucks.png",
        brandColor: "#007042",
        date: "Jul 1 - Jul 18",
        redeemed: false,
        redeemCode: "B3P8D6Z2"
    },
    {
        id: 3,
        title: "3 rides 15% off",
        description: "Pathao",
        desc: "Get 15% off on your next 3 rides. When you end your ride, you can show this code and get a discount",
        image: "/images/pathao.png",
        brandColor: "#000",
        date: "Jul 1 - Jul 18",
        redeemed: false,
        redeemCode: "5H6Q9R1F"
    },
    {
        id: 4,
        title: "5% off",
        description: "Apple Store",
        desc: "Get 5% off on $1000 purchase. When you go to store, you can show this code and get a discount",
        image: "/images/apple.png",
        brandColor: "#000",
        date: "Jul 1 - Jul 18",
        redeemed: false,
        redeemCode: "K7M2L9V8"
    },
    {
        id: 5,
        title: "3 months free",
        description: "Spotify",
        desc: "Get 3 months free premium. When you go to apply for Spotify premium, you can enter this code and get a discount",
        image: "/images/spotify.png",
        brandColor: "#1cd760",
        date: "Jul 1 - Jul 18",
        redeemed: false,
        redeemCode: "E4W1N3S7"
    },
    {
        id: 6,
        title: "$2 off",
        description: "UFO",
        desc: "Get $2 off on every purchase. When you go to store, you can show this code and get a discount",
        image: "/images/ufo.png",
        brandColor: "#ffd203",
        date: "Jul 1 - Jul 18",
        redeemed: false,
        redeemCode: "J2G6C5P9"
    },
]);




</script>

<style scoped>
main {
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #000;
}

body {
    background-color: #000;
}

.twinkling-stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: -10;
    pointer-events: none;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: #fff;
    border-radius: 50%;
    pointer-events: none;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: #fff;
    border-radius: 50%;
    pointer-events: none;
    animation: twinkling;
}

@keyframes twinkling {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
</style>
